* {
margin: 0;
padding: 0;
}

html {
  background-color: #f1f3f2;
}


/*Header*/

header {
  height: 62px;
  width: 100%;
  background-color: #FFF;
  z-index: 2;
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
}

#logo {
  width: 110px;
  padding: 14px;
  margin-left: 10px;
}

/*Dashboard container*/

#dashboard {
  margin: 12px;
}

/*Sidebar*/

#sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #f1f3f2;;
    overflow-x: hidden;
    margin-top: 0px;
}

#welcome {
  font-size: 0.8em;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

#sidebar img {
  display: block;
  float: left;
  margin-left: 10px;
}

.new {
  color: #216393;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 30px;
  padding-bottom: 5px;
}

/*Feed wrapper*/

#feed {
  width: 80%;
  height: 950px;
  display: flex;
  background-color: #FFF;
  z-index: 1;
  margin-top: 70px;
}

/*Feed masonry*/
.masonry {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 3px;
}

.masonry img {
  margin: 3px;
}
