* {
margin: 0;
padding: 0;
}

html {
  background-color: #f1f3f2;
}


/*Header*/
header {
  height: 62px;
  width: 100%;
  background-color: #FFF;
  z-index: 2;
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
}

#logo {
  width: 110px;
  padding: 14px;
  margin-left: 10px;
}

nav {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

li {
    display: inline;
    padding: 14px;
    font-family: 'Lato', sans-serif;
    color: #216393;
    font-weight: bold;
}

li:hover {
  cursor: pointer;
}

/*Sidebar*/
#sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #f1f3f2;;
    overflow-x: hidden;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
}

#welcome {
  font-size: 0.8em;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}


.newicon {
  display: block;
  float: left;
  margin-left: 10px;
}

.new {
  color: #216393;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
  padding-bottom: 5px;
}

.new:hover{
  cursor: pointer;
}

#search {
  width: 75%;
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

input[type=text]:focus{
  outline-color: #00a29b;
}

#searchicon {
  margin-top: 20px;
  margin-left: 5px;
  float:left;
  margin-bottom: 30px;
}

.sorting {
  color: #216393;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

label {
  font-size: 14px;
  margin-left: 10px;
}

/*Custom checkbox*/
.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  margin-top: 7px;
  cursor: pointer;
  font-size: 13px;
}

/* Hide default*/
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/*Checkmark*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: block;
  border-radius: 4px;
}

/*Hover=Grey*/
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/*Checked BG*/
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/*Hidden when not checked*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/*Show the checkmark*/
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark*/
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 8px;
  border: solid #00a29b;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#approved {
  margin-left: 10px;
  margin-top: 50px;
}

#approved h4 {
  font-size: 18px;
  margin-left: 30px;
}

#approved p {
  font-size: 12px;
  margin-top: 5px;
}

#approved img {
  height: 25px;
  width: 25px;
  float: left;
}

footer {
  font-size: 12px;
  color: #424242;
  margin-left: 10px;
  margin-top: 40px;
}

/*Dashboard container*/
#dashboard {
  margin: 12px;
}

/*Feed*/
#feed {
  width: 80%;
  height: auto;
  display: flex;
  background-color: #FFF;
  z-index: 1;
  margin-top: 70px;
}

/*Feed content*/
#content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 3px;
}

#content img {
  margin: 3px;
}

.lessonplan {
  display: block;
}

.lessonplan:hover {
  opacity: 0.3;
}

.post {
  display: block;
}

.post:hover {
  opacity: 0.3;
}

/*Test*/

/*Dropdown menu - General*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .lang-content {
    display: block;
}

.dropdown:hover .dropbtnlang {
    background-color: #f1f1f1;

}

.dropdown:hover .prof-content {
    display: block;
}

.dropdown:hover .dropbtnprof {
    background-color: #f1f1f1;

}

/*Dropdown menu - Language*/
.dropbtnlang {
    background-color: #fff;
    padding: 7px;
    padding-bottom: 0px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.lang-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
    z-index: 3;
    right: 0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: 5px;
}

.lang-content a {
    color: #424242;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Flags*/
.lang-content img {
  width: 25px;
  margin-right: 5px;
}

.lang-content a:hover {background-color: #f0f0f0}

/*Dropdown menu - Profile*/
.dropbtnprof {
    background-color: #fff;
    padding: 7px;
    padding-bottom: 0px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.prof-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
    z-index: 3;
    right: 0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: 5px;
}

.prof-content a {
    color: #424242;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.prof-content a:hover {background-color: #f0f0f0}
